{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "import-graphql",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "dynamic-import-node",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ]
}
